@import "bootstrap.less";

html {
 -webkit-font-smoothing: antialiased;
}

body {
  padding-top: 70px;
}

#map {
  width: 100%;
  height: 200px;
}

#content {
  width: 100%;
}

.navbar {
  .show-up-btn { }

  a.navbar-brand {
    position: relative;

    i {
      position: absolute;
      top: 14px;
      left: -3px;
      font-weight: 100;
    }
  }

  .search-wrapper {
    margin-top: 9px;
  }
}


.routes-wrapper {
  //margin-top: 20px;
}

.actions-wrapper {
  margin-top: 10px;
}

i.gold {
  color: #ffd700;
}

div.player-wrapper {
  margin-bottom: 20px;

  i.disabled {
    color: @gray-light;
  }
}

div.text-wrapper {
  margin-top: 20px;

  h3 { margin-top: 0; }
  img { max-width: 150px; }
}

.capitalize {
  text-transform: capitalize;
}
