<!--div class="row map-wrapper">
  <div class="col-xs-12">
     <div id="map"></div>
  </div>
</div-->

<div class="row routes-wrapper">
  <div class="col-xs-12">

    <div ng-hide="searching">
      <h4 ng-show="!query && routes.length">Ближайшие прогулки</h4>

      <h4 ng-show="query && routes.length">
        В городе
        <span class="capitalize">{{ query }}</span>
        {{ routes.length }}
        <span ng-hide="[ 1, 21, 31, 41, 51 ].indexOf(routes.length) > -1">
          прогулки
        </span>
        <span ng-show="[ 1, 21, 31, 41, 51 ].indexOf(routes.length) > -1">
          прогулка
        </span>
      </h4>

      <h4 ng-show="!routes.length && query">
        В выбранном городе гулять негде
      </h4>

      <h4 ng-show="!routes.length && !query">
        Поблизости гулять негде
      </h4>
    </div>

    <div class="list-group">
      <a class="list-group-item"
        ng-repeat="route in routes"
        ng-class="activeRouteCls(route)"
        ng-click="goToRoute(route, $event)">

        <div class="row">
          <div class="col-xs-8 col-sm-10">

            <h4 class="list-group-item-heading">
              {{ route.name }}
              <small style="white-space: nowrap">
                <i class="glyphicon glyphicon-star"
                  ng-repeat="i in [ 1, 2, 3, 4, 5 ]"
                  ng-class="goldStarClass(i, route)"></i>
              </small>
            </h4>

            <p class="list-group-item-text">
              <p>{{ route.description }}</p>

            </p>
          </div>

          <div class="col-xs-4 col-sm-2">
            <img class="pull-right img-rounded img-responsive"
              ng-src="{{route.thumbnail}}"></img>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12"
            ng-bind-html="route.details">
          </div>
        </div>

        <!--div ng-show="route === active" class="row actions-wrapper">
          <div class="col-xs-12">
            <button class="btn btn-primary"
              ng-click="goToRoute(route, $event)">
              Начать прогулку
            </button>
          </div>
        </div-->

      </a>
    </div>

  </div>
</div>
