<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <!--button type="button" class="navbar-toggle"
      data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button-->

    <a class="navbar-brand" href="#" ng-class="upBtnCls()">
      <i ng-hide="main" class="glyphicon glyphicon-chevron-left"></i>
      YouGuide
    </a>

    <!--p class="navbar-text">
      Text
    </p-->

    <div class="pull-right col-xs-6 search-wrapper"
      ng-show="main">
      <form ng-submit="search()">
        <input
          type="search"
          class="form-control"
          placeholder="Поиск по городу..."
          ng-model="query">
      </form>
    </div>

  </div>


  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <!--li class="active"><a href="#">Routes</a></li-->
      <!--li><a href="#">Link</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li-->
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
