<div class="player-wrapper btn-group btn-group-justified"
  ng-show="routeMarkers.length">
  <a class="btn btn-default"
    ng-click="goBack()"
    ng-disabled="!canGoBack()">
    <i class="glyphicon glyphicon-step-backward"></i>
  </a>

  <a class="btn btn-default"
    ng-show="canShowPanorama()"
    ng-click="togglePanorama()">
    <i class="glyphicon glyphicon-map-marker" ng-show="panorama.getVisible()">
    </i>
    <i class="glyphicon glyphicon-tower" ng-hide="panorama.getVisible()"></i>
  </a>

  <a class="btn btn-default"
    ng-hide="playing || !media"
    ng-click="play()">
    <i role="button" class="glyphicon glyphicon-play"></i>
  </a>

  <a class="btn btn-default"
    ng-show="playing"
    ng-click="pause()">
    <i role="button" class="glyphicon glyphicon-pause"></i>
  </a>

  <a class="btn btn-default"
    ng-click="goForward()"
    ng-disabled="!canGoForward()">
    <i role="button" class="glyphicon glyphicon-step-forward"></i>
  </a>

</div>



<div class="row map-wrapper">
  <div class="col-xs-12">
     <div id="map"></div>
  </div>
</div>

<!--div ng-show="routeMarkers.length" class="player-wrapper">
    <h1>
      <i role="button" class="glyphicon glyphicon-step-backward"
        ng-click="goBack()"
        ng-class="goBackCls()"></i>

      <i role="button" class="glyphicon glyphicon-play"
        ng-click="play()"
        ng-hide="playing || !media"
        ng-class="playCls()"></i>
      <i role="button" class="glyphicon glyphicon-pause"
        ng-click="pause()"
        ng-show="playing"></i>

      <i role="button" class="glyphicon glyphicon-step-forward"
        ng-click="goForward()"
        ng-class="goForwardCls()"></i>
    </h1>

</div-->

<div ng-show="point" class="row text-wrapper">
  <div class="col-xs-12">
    <h3>{{ point.index }}. {{ point.name }}</h3>
    <p ng-bind-html="point.text"></p>
  </div>
</div>
