body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

div.v1 {
  color: #fff;
  box-sizing: border-box;

  float: left;
  margin-right: 20px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;


  background-image: linear-gradient(bottom, rgb(93,158,207) 42%, rgb(66,138,202) 71%);
  background-image: -o-linear-gradient(bottom, rgb(93,158,207) 42%, rgb(66,138,202) 71%);
  background-image: -moz-linear-gradient(bottom, rgb(93,158,207) 42%, rgb(66,138,202) 71%);
  background-image: -webkit-linear-gradient(bottom, rgb(93,158,207) 42%, rgb(66,138,202) 71%);
  background-image: -ms-linear-gradient(bottom, rgb(93,158,207) 42%, rgb(66,138,202) 71%);

  background-image: -webkit-gradient(
    linear,
    right bottom,
    right top,
    color-stop(0.42, rgb(93,158,207)),
    color-stop(0.71, rgb(66,138,202))
  );

}

div.v1 h1, div.v1 h3 {
  margin: auto;
  width: 90%;
  text-align: center;
}

div.v1 h1 {
  padding-top: 0.45em;
}

div.v1 h3, div.v1 h1 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  /*text-shadow: 0px 0px 10px #E6E6E6;*/
}

.x128 {
  width: 128px;
  height: 128px;
}

.x128 h3 {
  font-size: 1.3em;
  padding-top: 1em;
}

.x64 {
  width: 64px;
  height: 64px;
}

.x64 h3, .x28 h3 {
  display: none;
}

.x28 {
  width: 28px;
  height: 28px;
}

.x28 h1 {
  font-size: 1em;
}
